<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{#mobile}}
  <meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
  />
  {{/mobile}}
  <title id="title">{{ name }}</title>
  {{#mobile}}
  <script type="text/javascript">
    ;
    (function (win) {
      var h;
      var docEl = document.documentElement;

      function setUnitA() {
        win.rem = docEl.getBoundingClientRect().width / 40;
        docEl.style.fontSize = win.rem + 'px';
      }

      win.addEventListener('resize', function () {
        clearTimeout(h);
        h = setTimeout(setUnitA, 300);
      }, false);
      win.addEventListener('pageshow', function (e) {
        if (e.persisted) {
          clearTimeout(h);
          h = setTimeout(setUnitA, 300);
        }
      }, false);
      setUnitA();
    })(window);

  </script>
  {{/mobile}}
</head>

<body>
</body>
{{#analytics}}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-79985621-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());

  gtag('config', 'UA-79985621-3');

</script>
{{/analytics}}
</html>
